@import url('https://fonts.googleapis.com/css?family=Hind+Guntur&display=swap');

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {}

/*presets*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Hind Guntur', sans-serif;
}

/*body*/

body {
    padding-top: 100px;
    background-color: #2CDA9D;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0px 80px 0px 80px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.bashLogo {
    width: 75px;
    height: 75px;
    margin: 0px 15px 40px 15px;
}

.sqlLogo {
    width: 100px;
    height: 70px;
    margin: 0px 15px 40px 15px;
}

/*nav*/
.navbar {
    background-color: #1A181B;
}

.navbar-brand {
    color: #000;
    font-size: 30px;
}

.nav-link {
    color: #000;
    padding-top: 10px;
    font-size: 30px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.nav-link:hover {
    top: -10px;
}

.linkedinLogo {
    height: 30px;
    width: 30px;
    padding-bottom: 5px;
}

/*cards*/

.card-deck {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
    padding: 50px;
    background-color: #564D65;
}

.card {
    background-color: #3E8989;
}

.cardInfo{
    color: #fff;
    padding-bottom: 30px;
}

.card-img-top {
    height: 200px;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.card-text {
    font-size: 20px;
    color: #fff;
}

.card-link{
    color: #05F140;
    font-size: 25px;
}

/*contact form*/
.contactForm {
    text-align: center;
}
